* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

body {
  background: #F2F2F2;
}

.bar {
  width: 280px;
  height: 45px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 45px;
}

.bar i {
  color: #C7C7C7;
  line-height: 45px;
  font-size: 22px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.bar .is-active {
  color: #000;
}

.bar .is-active .notif {
  display: block;
  -webkit-animation: insta 0.8s ease-in-out forwards;
  animation: insta 0.8s ease-in-out forwards;
  -webkit-transform-origin: center 60px;
  transform-origin: center 60px;
}

@-webkit-keyframes insta {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
    transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
  }
  50% {
    opacity: 1;
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes insta {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
    transform: scale(0.1) rotate(-30deg) translateY(-50px) rotateX(90deg);
  }
  50% {
    opacity: 1;
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.notif {
  display: none;
  width: 130px;
  height: 35px;
  background: #E95950;
  position: absolute;
  right: 17px;
  bottom: 60px;
  border-radius: 7px;
}

.notif:after {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #E95950;
  position: absolute;
  left: 50%;
  bottom: -7px;
  -webkit-transform: translateX(-65%);
  transform: translateX(-65%);
}

.notif i {
  color: #fff;
  width: 33.33%;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  float: left;
}